*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #002339;
    color: #fff;
}
.container{
    font-size: 24px;
    width: 90%;
    max-width: 700px;
    margin: 12%;
}
.container span{
    color: rgb(17, 132, 17);
    border-bottom: 3px solid rgb(17, 132, 17);
    padding: 4px 0px;
}
.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 500px;
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px;
}
#password{
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0px 16px ;
    border-radius: 4px;
}
#copy{
    background: rgb(194, 86, 47);
    color: #fff;
    font-size: 20px;
    width: 100px;
    border-radius:40px;
    border: none;
    outline: none;
    padding: 10px;
}
.generate{

}
.btn{
    background: rgb(17, 132, 17);
    padding: 16px;
    border-radius: 4px;
    margin-top: 20px;
    width: 200px;
    color: #fff;
    font-size: 16px;
}